<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Details</title>
</head>

<body>
	<!--Header-->
	<header id="header">
		<h1><a herf="/">HOME</a>&nbsp;>&nbsp;<a herf="#" target="_blank">Purchase History</a>&nbsp;>&nbsp;View Details</h1>
	</header>
	<hr>
	
	<!--Show the OrderID selected-->
	<h3><strong>Order ID:</strong> <span th:text="${orderItem.orderID}">Order ID</span></h3>
	
	<!--Purchase History Overview-->
	<br>
	<table style="width:95%; margin-left: auto; margin-right: auto; border: slategrey;">
		<thead>
			<tr>
				<th>Product Picture</th>
				<th>Product Name</th>
				<th>Unit Price(at time of order)</th>
				<th>Quantity</th>
				<th>Total Price</th>
				<th>Status</th>
				<th>More</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="orderItem:${orderItem}">
				<td th:text="${orderItem.productPicture}"></td>
	            <td th:text="${orderItem.productName}"></td>
	            <td th:text="${orderItem.unitPrice}"></td>
	            <td th:text="${orderItem.quantity}"></td>
				<td th:text="${orderItem.totalPrice}"></td>
				<td th:text="${orderItem.status}"></td>
	            <td><a href="#" target="_blank">refund</a>&nbsp;&nbsp;<a href="#" target="_blank">comment</a></td>
			</tr>
		</tbody>
	</table>
	
	
</body>
</html>